<h2>住所情報登録</h2>

<%= form_for @address do |f| %>
  <%= render "devise/shared/error_messages", resource: @address %>

  <div class="field">
    <%= f.label :post_code,"郵便番号" %>
    <span class="mandatory">必須</span><br />
    <%= f.text_field :post_code %>
  </div>
  
  <div>都道府県</div><span class="mandatory">必須</span><br />
  <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"field", id:"prefecture"}) %>

  <div class="field">
    <%= f.label :city ,"市町村"%>
    <span class="mandatory">必須</span><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :house_number, "住居番号(〇〇丁目)" %>
    <span class="mandatory">必須</span><br />
    <%= f.text_field :house_number %>
  </div>

  <div class="field">
    <%= f.label :building_name,"建物名" %><br />
    <%= f.text_field :building_name %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>